<div class="container-fluid">
    <div class="row text-center">
       
       <h1>Operational Footprint</h1>
    </div>
    
    <div id="footprint_nav">
      <ul class="nav nav-tabs" id="myTab">
			  <li class="active"><a data-target="#summary" data-toggle="tab">Summary</a></li>
			  <li><a data-target="#syria" data-toggle="tab">Syria</a></li>
			  <li><a data-target="#jordan" data-toggle="tab">Jordan</a></li>
			  <li><a data-target="#turkey" data-toggle="tab">Turkey</a></li>
			  <li><a data-target="#lebanon" data-toggle="tab">Lebanon</a></li>
			  <li><a data-target="#kri" data-toggle="tab">KRI</a></li>
			  
			  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">By Sector</a>
		      <ul class="dropdown-menu">
            <li><a href="#food">Food and Cash</a></li>
            <li><a href="#wash">WASH</a></li>
            <li><a href="#health">Health</a></li>
          </ul>
			  </li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane active" id="summary">Summary Text</div>
			  <div class="tab-pane" id="syria">Syria Summary text</div>
			  <div class="tab-pane" id="jordan">Jordan Summary text</div>
			  <div class="tab-pane" id="turkey">Turkey Summary text</div>
			  <div class="tab-pane" id="lebanon">Lebanon Summary text</div>
			  <div class="tab-pane" id="kri">KRI Summary text</div>
  		</div>
    </div>    
 
    <div class="row col-md-12 map">
       <%=image_tag("map.png", alt: "Syria Map", class: "map")%> 
    </div>
</div>
    