    </div>
        <div data-spy="affix" id="dot-nav">
    	<ul>
	      <li class="awesome-tooltip active" title="Home"><a href="#home"></a></li>
	      <li class="awesome-tooltip" title="Levels of Satisfaction"><a href="#satisfaction"></a></li>
	      <li class="awesome-tooltip" title="Demographics"><a href="#demographics"></a></li>
	      <li class="awesome-tooltip" title="Food"><a href="#food"></a></li>
	      <li class="awesome-tooltip" title="WASH"><a href="#wash"></a></li>
	      <li class="awesome-tooltip" title="Physical Health"><a href="#physical"></a></li>
	      <li class="awesome-tooltip" title="Physological Health"><a href="#physological"></a></li>
	      <li class="awesome-tooltip" title="Safety"><a href="#safety"></a></li>
	      <li class="awesome-tooltip" title="Protection"><a href="#protection"></a></li>
	      <li class="awesome-tooltip" title="Dignity"><a href="#dignity"></a></li>
	    </ul>
	</div>
	
	<section id="home" class="impactPic">
    
    <div id="main" class="container">
    	
           <article>
               <div class="row">
                   <div class="col-md-4 well-clear">
                    <h1>Syria Response Strategy Monitoring</br>
                        <small>2015 onwards</small></h1>
                       
                   </div>
               </div>
           </article>           
    	</section>
    	
        <section id="satisfaction" class="impactPic">
           <article>
               <div class="row">
                   <div class="col-md-4 col-md-offset-7 well-clear">
                    <h1>Levels of Satisfaction</h1>
                    <h3>Average, <span class="number">69%</span> satisfaction</h3>
                    </br>
                    </br>
                    </br>
                    </br>
                    <h4>North Syria  <span class="number">74% --- 69%</span>  Lebanon</h4>
                   </div>
               </div>
           </article>           
        </section>
        
        <section id="demographics" class="impactPic">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Demographics <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>
        
        <section id="food" class="impactPic">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Food <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>
        
        <section id="wash" class="impactPic">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>WASH <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section> 
        
        <section id="physical" class="impactPic">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Physical Health<small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section> 
        
        <section id="physological" class="impactPic">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Physological Health <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section> 
        
        <section id="safety" class="impactPic">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Safety <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>  
        
        <section id="protection" class="impactPic">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Protection <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>
        
        <section id="dignity" class="impactPic">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Dignity <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>  
        
    </div>
    
    
