<div class="container-fluid">
        
    </div>
        <div data-spy="affix" id="dot-nav">
    	<ul>
	      <li class="awesome-tooltip active" title="Home"><a href="#home"></a></li>
	      <li class="awesome-tooltip" title="Levels of Satisfaction"><a href="#satisfaction"></a></li>
	      <li class="awesome-tooltip" title="Demographics"><a href="#demographics"></a></li>
	      <li class="awesome-tooltip" title="Food"><a href="#food"></a></li>
	      <li class="awesome-tooltip" title="WASH"><a href="#wash"></a></li>
	      <li class="awesome-tooltip" title="Physical Health"><a href="#physical"></a></li>
	      <li class="awesome-tooltip" title="Physological Health"><a href="#physological"></a></li>
	      <li class="awesome-tooltip" title="Safety"><a href="#safety"></a></li>
	      <li class="awesome-tooltip" title="Protection"><a href="#protection"></a></li>
	      <li class="awesome-tooltip" title="Dignity"><a href="#dignity"></a></li>
	    </ul>
	</div>
    
    <div id="main" class="container">
    	<section id="home">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Overall Impact <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
    	</section>
        <section id="satisfaction">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Levels of Satisfaction <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>
        <section id="demographics">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Demographics <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>
        <section id="food">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Food <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>
        <section id="wash">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>WASH <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>    
        <section id="physical">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Physical Health<small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>    
        <section id="physological">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Physological Health <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>    
        <section id="safety">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Safety <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>    
        <section id="protection">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Protection <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>
        <section id="dignity">
           <article>
               <div class="row">
                   <div class="col-md-12">
                    <h1>Dignity <small>Secondary text</small></h1>
                       <p>
                        This is a content.                                
                       </p>
                   </div>
               </div>
           </article>           
        </section>    
    </div>
    
    
    
</div>