<div class="container-fluid">
    <div class="row text-center">
        <h1>Operational Impact</h1>
    </div>
    
    <div class="row text-center">
        <div class="col-md-4 well">
            Demographics
        </div>
        
        <div class="col-md-4 well">
            Dignity
        </div>
        
        <div class="col-md-4 well">
            Levels of Satisfaction
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-4 well">
            Food
        </div>
        
        <div class="col-md-4 well">
            WASH
        </div>
        
        <div class="col-md-4 well">
            Safety
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-4 well">
            Physical Health
        </div>
        
        <div class="col-md-4 well">
            Physcological Health
        </div>
        
        <div class="col-md-4 well">
            Protection
        </div>
        
    </div>
        
    
</div>